/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 20;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  padding-bottom: 50px; /* 留出50像素的空间给版权信息文本 */
    overflow-y: scroll; /* 添加纵向滚动条 */
}

/* Navigation styles */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 30px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  padding-left: 50px;
  float: right;
}

nav ul li.logo {
  margin: 0;
}

nav ul li img {
  height: 25px;
  width: 80px;
}

/* Banner styles */
.banner {
  position: relative;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.banner img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.banner-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #f8f8f8;
  padding: 10px;
  z-index: 1;
}
.section h2 {
	padding-left: 0px;
	font-size: 40px;
}
.section p {
	font-size: 24px;
	font-family: 'Times New Roman', Times, serif;
	margin-top: 20px;
	line-height: 0.5;
}
.imgss {
	margin: auto 0;
}
.section-1 h2 {
	font-size: 40px;
	text-align: left;
	margin-left: 50px;
	margin-top: 60px;
}
.section-2 h2 {
	font-size: 40px;
	text-align: left;
	margin-left: 50px;
	margin-top: 40px;
}
.section-3 {
	width: 777px;
	height: 80px;
	margin-left: 250px;
	margin-top: -60px;
	font-size: 24px;
	border: solid;
	border-radius: 90px;
	border-width: 3px;
}
